<form method="post" action="index.php">
	<div class="field-wrapper">
		<label>User Name</label>
		<input type="text" name="UserName">
	</div>
	<div class="field-wrapper">
		<label>Password</label>
		<input type="text" name="userPassword">
	</div>
	<div class="field-wrapper">
		<input type="submit" name="btnLogin" onclick=""></input>
	</div>
</form>