/*==============Body============*/

body {
    background-color: #1b3353;
    margin: auto;
    font-family: Antic Slab;
    color: #ffffff;
    text-align: center;
}

h1,h3,h4,h5,h6{
    font-family: Rock Salt;
    color: white;
}

h1 {
    margin-top: 0px;
    font-size: 1.8em;
    text-shadow: -2px 5px 5px #000000
}

h2 {
    color: #cd7c16;
    font-family: Rock Salt;
}

li {
    text-align: left;
}

p {
	margin: auto;
	padding: 10px;
}

table, tr, th, td {
	margin: auto;
	border: 3px solid white;
	border-collapse: collapse;
	padding: 8px;
}

li {
    padding: 5px 0px 5px 0px;
}

.flexpage {
    padding-top: 220px;
    padding-bottom: 50px;
    display: flex;
}

.floatpage {
    padding-top: 230px;
    padding-bottom: 50px;
}

/*==============TEMP============*/

#div1 {
	background-color: black;
	font-size: 1em;
}

#div2 {
	background-color: green;
	font-size: 1.5em;
}

#div3 {
	background-color: pink;
	font-size: 2em;
}

#div1:hover , #div2:hover , #div3:hover {
	font-weight: bold;
}

/*==============Header============*/

header img {
    display: block;
    margin: auto;
}

#header-block {
    height: 55px;
}

/*==============Main Navigation============*/
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1b3353;
}
nav {
    min-width: 840px;
}

nav ul {
    padding-left: 0px;
    margin-bottom: 0px;
}

nav li {
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    padding: 30px 20px 30px 20px;
    font-family: Antic Slab;
    font-size: 24px;
}

.navbar {
    width: 100px;
}

.nav-image {
    width: 37%;
}

#logo {
    width: 75%;
}

/*==============Main Nav Link Style============*/

nav a:link  {

}

nav a:visited {

}

header img:hover {
    filter: brightness(130%);
}

nav a:hover {
    filter: brightness(140%);
}

nav a:active {
    filter: brightness(1000%);
}

/*==============General Nav Link Style============*/

a:link{
    color: #cd7c16;
    text-decoration: none;
    /*font-weight: bold;*/
}
a:visited{
    color: #cd7c16;
}
a:hover{
    color: #efaa41;
    text-decoration: underline;
}
a:active{
    color: #ffffff;
}

ul{
    list-style-type: none;
}

/*==============FORM STYLE============*/

form {
	margin: auto;
}

label {
    font-family: Rock Salt;
    color: #cd7c16;
    font-size: 16px;
}

input {
    font-family: Antic Slab;
    display: inline-block;
    text-align: left;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    width: 200px;
}

textarea {
    font-family: Antic Slab;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    resize: none;
    height: 100px;
}


input[type=image] {
    width: 75%;
}

.field-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    clear: left;
}

/*==============MAIN STYLE============*/

main {
    width: 1000px;
    margin: auto;
}

figure img{
    margin-top: 30px;
    width: 600px;
    box-shadow: -2px 5px 5px #000000
}

figcaption {
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    margin: 10px 0px 30px 0px;
}

/*==============DEFAULT STYLE============*/
#default-img {
    /*max-width: 400px;*/
}
#default-content p {
    text-align: center;
    padding-bottom: 50px;
}
/*==============RESUME STYLE============*/
#resume-img {
    flex-grow: 1;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
#resume-content {
    flex-grow: 3;
}
/*==============PROJECTS STYLE============*/
#projects-img {
    flex-grow: 1;
    max-width: 400px;    
}
#projects-content {
    flex-grow: 3;
}
/*==============REFERENCES STYLE============*/
#references-img {
}
#references-content {
    display: flex;
}
.references {
    flex-grow: 1;
    max-width: 333px;
    padding: 0px 10px 0px 10px;
}
/*==============CONTACT STYLE============*/
#contact-img {
    width: 200px;
    height: 400px;
}
#contact-content {
    flex-grow: 1;
}
/*==============FOOTER STYLE============*/

footer {
    
}

footer p {
    text-align: center;
    color: #cd7c16;
    font-size: 14px;
}